<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Sign Up</title>
	<link rel="stylesheet" type="text/css"  th:href="@{/styles/common_styles.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/styles/registration_styles.css}">
</head>
<body>
	<div class="background">

		<div class="registration_block">
			<p class="registration_block_title"> Sign Up </p>

			<form method="post" th:action="@{/registration}">
				<input type="text" name="account_email" class="registration_input"
					placeholder="Your email" />
				<input type="password" name="account_password" class="registration_input" 
					placeholder="Your password" />
				<input type="submit" name="form_submit" class="registration_input registration_submit" value="Sign Up" />
			</form>

			<p class="registration_msg"> Already registered? <br> 
				<a href="#" class="login-link"> Sign In </a> </p>
		</div>
		
	</div>
</body>
</html>